/*  Import Google fonts Kantumruy Pro weight 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
  width: 100%;
  height: 100vh;
}
html {
    font-size: 14px;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    color: whitesmoke;
    background-color: rgba(1, 64, 64);
}



.navbar {
    background-color: rgba(1, 64, 64, 1);
    top: 0;
    z-index: 2;
    position: fixed;

}


#logo {
    text-transform: uppercase;
}
.active {
    border-bottom: 1px solid #12d41c8c;
    border-top: 1px solid #16a7d3a9;
    border-radius: 50%;
}

/* Hero Image */
.hero-img {
    height: 700px;
    width: 100%;
    background: url("../images/tree-img4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

}

/* Jumbotron */
.jumbotron {
    margin: 5 auto;
    animation: jumbotron-zoom 3s forwards;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    font-family: 'Kantumruy Pro', serif;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: rgb(238, 236, 147);
}

.callout {
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
}

.class-divider {
    justify-content: center;
    width: 75%;
    height: 5px;
    border: 0;
    background-color: #08e21a;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.class-divider--short {
    width: 25%;

}

@keyframes jumbotron-zoom {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1.1);
        opacity: 1;
    }
}

.blockquote {
    margin: 20px 0px;
}

.blockquote p {
    margin: 0;
}

footer {
    background-color: rgba(1, 64, 64, .9);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }  
}

@media (max-width: 600px) {
    iframe {
        width:380px;
        height:240px;
    }
}

.nav-item:hover {
    border-bottom: 1px solid #12d41c8c;
    border-top: 1px solid #84eff360;
    border-radius: 50%;
}