/*  Import Google fonts Kantumruy Pro weight 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap');

body {
    font-family: 'Kantumruy Pro', sans-serif;
    color: whitesmoke;
    background-color: rgba(1, 64, 64);
}


.header {
     background-image: url("../images/tree-img2.jpg");
     background-color: #cccccc; 
     height: 600px; 
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover; 
}

.navbar {
    background-color:rgba(1, 64, 64, .9) ;
    position: relative;
    top: 0;
}
#logo {
    text-transform: uppercase;
}

.active {
    border-bottom: px solid whitesmoke;
}

.blockquote {
    margin: 20px 0px;
}
.blockquote p {
    margin: 0;
}

footer {
    background-color: rgba(1, 64, 64, .9) ;
}


