/*  Import Google fonts Kantumruy Pro weight 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap');

html,
body {
  height: 100%
}
html {
    font-size: 14px;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    color: whitesmoke;
    background-color: rgba(1, 64, 64);
}

/* callout container */
.callout-container {
    height: 100vh;
    background: url(../images/tree-img4.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    animation: hero-zoom 5s forwards;
}

/* Jumbotron */
.jumbotron {
    margin: 5 auto;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    font-family: 'Kantumruy Pro', serif;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: rgb(238, 236, 147);
}

.callout {
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 75px;
    margin: 15px;
    z-index: 2;
}

.class-divider {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #08e21a;
    border-radius: 2px;
}

.class-divider--short {
    width: 25%;

}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.navbar {
    background-color: rgba(1, 64, 64, .4);
    position: relative;
    top: 0;
}

#logo {
    text-transform: uppercase;
}

.active {
    border-bottom: px solid whitesmoke;
}

.blockquote {
    margin: 20px 0px;
}

.blockquote p {
    margin: 0;
}

footer {
    background-color: rgba(1, 64, 64, .9);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }  
}

@media (max-width: 600px) {
    iframe {
        width:380px;
        height:240px;
    }
}
